#spinner-modal {

    text-align: center;
    padding: 0!important;

}

#spinner-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

#spinner-modal .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#spinner-modal .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}